<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="permission" name="Permission" schema="schema/permission.exsd"/>
   <extension-point id="role" name="Role" schema="schema/role.exsd"/>
   <extension
         id="dbLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="de.jutzig.jabylon.security.internal.DBLoginModule"
            description="DB LoginModule">
      </loginModule>
   </extension>
   <extension
         id="ldapLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="de.jutzig.jabylon.security.internal.LDAPLoginModule"
            description="LDAP LoginModule">
      </loginModule>
   </extension>
   <extension
         id="callbackHandler"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="de.jutzig.jabylon.security.LoginDialog">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="de.jutzig.jabylon.security.callbackHandler"
            configName="DB">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="de.jutzig.jabylon.security.permission">
      <permission
            description="Configure all projects"
            name="Project:*:config">
      </permission>
      <permission
            description="Edit all projects"
            name="Project:*:edit">
      </permission>
      <permission
            description="View all project transations"
            name="Project:*:view">
      </permission>
      <permission
            description="Edit users"
            name="User:*:config">
      </permission>
      <permission
            description="configure workspace, edit, create and delete projects"
            name="Workspace:config">
      </permission>
      <permission
            description="basic right to access configuration in general"
            name="System:config">
      </permission>
      <permission
            description="Right to view all projects"
            name="Workspace:view">
      </permission>
   </extension>
   <extension
         point="de.jutzig.jabylon.security.role">
      <role
            description="Administrator"
            name="ADMINISTRATOR">
         <permission_id
               id="#Project.global.config">
         </permission_id>
         <permission_id
               id="#System.global.edit">
         </permission_id>
         <permission_id
               id="#User.global.config">
         </permission_id>
         <permission_id
               id="#Workspace.global.config">
         </permission_id>
         <permission_id
               id="#Workspace.global.edit">
         </permission_id>
         <permission_id
               id="#Workspace.global.view">
         </permission_id>
      </role>
   </extension>
</plugin>
