<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="config" name="Configuration Section" schema="schema/config.exsd"/>
   <extension-point id="configTab" name="Configuration Tabs" schema="schema/configTab.exsd"/>
   <extension
         name="project settings"
         point="de.jutzig.jabylon.ui.config">
      <configSection
            id="de.jutzig.jabylon.ui.projectConfig"
            objectClass="de.jutzig.jabylon.properties.Project"
            section="de.jutzig.jabylon.ui.config.internal.project.GeneralProjectConfig"
            tab="general">
      </configSection>
      <configSection
            id="de.jutzig.jabylon.ui.projectScanConfig"
            objectClass="de.jutzig.jabylon.properties.Project"
            section="de.jutzig.jabylon.ui.config.internal.project.ScanConfig"
            tab="scanning">
      </configSection>
      <configSection
            id="de.jutzig.jabylon.ui.projectRepository"
            objectClass="de.jutzig.jabylon.properties.Project"
            section="de.jutzig.jabylon.ui.config.internal.project.ProjectRepositorySettings"
            tab="repository"
            title="General Repository Settings">
      </configSection>
   </extension>
   <extension
         name="general settings"
         point="de.jutzig.jabylon.ui.config">
      <configSection
            id="de.jutzig.jabylon.ui.generalRepository"
            objectClass="de.jutzig.jabylon.properties.Workspace"
            section="de.jutzig.jabylon.ui.config.internal.general.GeneralWorkspaceRepositoryConfig"
            tab="repository">
      </configSection>
      <configSection
            id="de.jutzig.jabylon.ui.generalSecurity"
            objectClass="de.jutzig.jabylon.properties.Workspace"
            section="de.jutzig.jabylon.ui.config.internal.general.GeneralWorkspaceSecurityConfig"
            tab="security">
      </configSection>
      <configSection
            id="de.jutzig.jabylon.ui.generalConfig"
            objectClass="de.jutzig.jabylon.properties.Workspace"
            section="de.jutzig.jabylon.ui.config.internal.general.GeneralWorkspaceConfig"
            tab="general">
      </configSection>
      <configSection
            id="de.jutzig.jabylon.ui.projects"
            objectClass="de.jutzig.jabylon.properties.Workspace"
            section="de.jutzig.jabylon.ui.config.internal.general.WorkspaceProjectsSettings"
            tab="projects">
      </configSection>
      <configSection
            id="de.jutzig.jabylon.ui.userConfig"
            objectClass="de.jutzig.jabylon.properties.Workspace"
            section="de.jutzig.jabylon.ui.config.internal.general.UserConfig"
            tab="user">
      </configSection>
   </extension>
   <extension
         point="de.jutzig.jabylon.ui.configTab">
      <tab
            name="General"
            precedence="10"
            tabID="general">
      </tab>
      <tab
            name="User"
            precedence="7"
            tabID="user">
      </tab>
      <tab
            name="Repository"
            precedence="6"
            tabID="repository">
      </tab>
      <tab
            name="Security"
            precedence="5"
            tabID="security">
      </tab>
      <tab
            name="Projects"
            precedence="8"
            tabID="projects">
      </tab>
      <tab
            name="Scanning"
            precedence="7"
            tabID="scanning">
      </tab>
      <tab
            name="Locales"
            precedence="8"
            tabID="locales">
      </tab>
   </extension>
   <extension
         point="de.jutzig.jabylon.security.permission">
      <permission
            description="Translate projects"
            name="TRANSLATOR">
      </permission>
      <permission
            description="Review projects"
            name="REVIEWER">
      </permission>
   </extension>
</plugin>
