<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Jabylon" sequenceNumber="87">
<locations>
<location path="${system_property:user.home}/.m2/repository/com/googlecode/flyway/flyway-core/2.1.1" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/wicket/wicket-util/6.0.0" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/wicket/wicket-request/6.0.0" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/wicket/wicket-extensions" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/wicket/wicket-core/6.0.0" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/felix/org.apache.felix.bundlerepository/1.6.6" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/servicemix/bundles/org.apache.servicemix.bundles.javax-inject/1_2" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/wicket/wicket-auth-roles/6.0.0" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/wicket/wicket-extensions/6.0.0" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/com/google/guava/guava/13.0.1" type="Directory"/>
<location path="${system_property:user.home}/.m2/repository/org/apache/wicket/wicket-ioc/6.0.0" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cvs.feature.group" version="1.4.0.v20130911-1000"/>
<unit id="org.eclipse.jgit.feature.group" version="3.0.3.201309161630-r"/>
<unit id="org.eclipse.epp.package.java.feature.feature.group" version="2.0.1.20130919-0803"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.1.0.v20130429-1600"/>
<unit id="org.eclipse.jgit.source.feature.group" version="3.0.3.201309161630-r"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.2.1.v20130913-0613"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.2.1.v20130806-0658"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.1.v20130902-0605"/>
<repository location="http://download.eclipse.org/releases/kepler/"/>
</location>
<location path="${system_property:user.home}/.m2/repository/org/eclipse/jgit/org.eclipse.jgit/3.0.0.201306101825-r" type="Directory"/>
</locations>
</target>
