<html xmlns:wicket="http://wicket.apache.org">
<head>
<title>BootstrapTabbedPanel</title>
</head>
<body>
	<wicket:panel>
		<div wicket:id="feedbackPanel"></div>
		<wicket:container wicket:id="container">
			<h5 wicket:id="taskname">Task in progress...</h5>
			<div class="progress progress-striped active">
				<a class="btn btn-danger btn-small" wicket:id="cancel" title="Cancel"
					style="padding: 3px; float: right; width: 18px; height: 13px; text-align: center;"><i class="icon-stop icon-white"></i></a>
				<div class="progress">
					<div class="bar" wicket:id="bar"></div>
				</div>
				<span wicket:id="subtask">Subtask</span>
			</div>
		</wicket:container>
	</wicket:panel>
</body>
</html>
