<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/lbClassicStatus"
            class="ch.qos.logback.classic.ViewStatusMessagesServlet"
            load-on-startup="true">
      </servlet>
   </extension>


</plugin>
