<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.jutzig.jabylon.scheduler.jobs">
      <job
            activeByDefault="true"
            class="de.jutzig.jabylon.index.properties.jobs.impl.ReorgIndexJob"
            defaultSchedule="0 2 0 * * ?"
            description="Rebuilds the lucene index for full text search"
            id="de.jutzig.jabylon.index.reorg"
            name="Rebuild Index">
      </job>
   </extension>

</plugin>
