@IMPORT url("/VAADIN/themes/reindeer/styles.css");


.jabylon-progress {
     border: 1px solid grey;
     height: 18px;
     width: 100px;
}

.jabylon-progress-bar {
    height: 100%;
}

.jabylon-progress-label {
     left: 45%;
     position: relative;
     top: -18px;
}
