/* @IMPORT url("/VAADIN/themes/reindeer/styles.css"); */
@IMPORT url("base-style.css");

.jabylon-progress {
	border: 1px solid grey;
	height: 12px;
	width: 100px;
	border-radius: 5px 5px 5px 5px;
}

.jabylon-progress-bar {
	height: 100%;
	border-radius: 5px 5px 5px 5px;
}

.jabylon-progress-label {
	text-align: center;
	position: relative;
	top: -15px;
}

.v-progressindicator-indicator {
	background: navy;
	none;
}

.jayblon-breadcrumb-panel { /* font-size: 24px; */
	font-style: italic;
	/* padding: 10px 10px 10px 15px; */
	color: white;
	background-color: white;
	/* 	background-image: linear-gradient(left top, #78C48A 19%, #298542 34%);
	background-image: -o-linear-gradient(left top, #78C48A 19%, #298542 34%);
	background-image: -moz-linear-gradient(left top, #78C48A 19%, #298542 34%);
	background-image: -webkit-linear-gradient(left top, #78C48A 19%, #298542 34%);
	background-image: -ms-linear-gradient(left top, #78C48A 19%, #298542 34%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.19,
		#78C48A), color-stop(0.34, #298542) ); */
}

.jabylon-container-header {
	padding-left: 10px;
	padding-right: 10px;
	border: medium;
	border-color: silver;
	border-bottom-style: solid;
	background-image: linear-gradient(top, #FFFFFF 41%, #A1B4FF 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 41%, #A1B4FF 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 41%, #A1B4FF 100%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 41%, #A1B4FF 100%);
	background-image: -ms-linear-gradient(top, #FFFFFF 41%, #A1B4FF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.41, #FFFFFF
		), color-stop(1, #A1B4FF) );
}

.jabylon-container {
	border: thin;
	border-color: silver;
	border-style: solid;
	border-radius: 10px;
	/* 	padding-left: 10px;
	padding-right: 10px; */
}

.jabylon-container-content {
	
}

.jabylon-section-title {
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width: 3px;
}

.jabylon-section-label {
	font-family: sans-serif;
	font-size: medium;
	font-weight: bold;
	font-style: italic;
	color: gray;
}

div.breadcrumbs {
	background: #9494FF;
}

div.breadcrumbs .v-button { /* moz-border-radius: 5px;
	webkit-border-radius: 5px;
	khtml-border-radius: 5px;
	border-radius: 5px;
	background: blue; */
	padding: 5px;
}

div.breadcrumbs .v-button:ACTIVE {
	padding: 5px;
}

div.breadcrumbs .v-button:FOCUS {
	padding: 5px;
}

div.breadcrumbs .v-button: {
	padding: 5px;
}

div.breadcrumbs .v-button.v-disabled {
	background: blue; /*  #A1B4FF;*/
	moz-border-radius: 10px;
	webkit-border-radius: 10px;
	khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}

div.breadcrumbs span.v-button-caption {
	font-weight: bold;
	font-size: 13px;
	color: white;
}

div.breadcrumbs .v-button.v-disabled span.v-button-caption {
	font-weight: bolder;
	font-size: 14px;
	color: white;
	text-decoration: none;
}

/* the separator between the breadcrumb items*/
div.breadcrumbs div.v-label {
	padding-top: 3px;
	font-weight: bolder;
	font-size: 18px;
	color: white;
}

.v-tabsheet-tabitem {
	border-radius: 0px 10px 0px 0px;
}


.v-tabsheet-tabitem-selected {
	background: rgb(84, 98, 255);
	color: white;
}

.v-panel-caption,.v-table-striped .v-table-row-odd,.sidebar-menu {
	background: #E0E0E0;
}

input.v-textfield-readonly, textarea.v-textarea-readonly {
 	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url("img/input-bg.png") repeat-x scroll 0 0 #FFFFFF;
	border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3);
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	line-height: normal;
	margin: 0;
	padding: 0.3em; 
}