<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="de.jutzig.jabylon.common.teamProvider">
      <teamProvider
            class="de.jutzig.jabylon.team.git.GitTeamProvider"
            description="Git Team Provider"
            name="Git">
      </teamProvider>
   </extension>
   <extension
         point="de.jutzig.jabylon.rest.ui.config">
      <section
            name="Git"
            objectClass="de.jutzig.jabylon.properties.Project"
            section="de.jutzig.jabylon.team.git.config.GitConfigSection"
            tab="git">
      </section>
   </extension>
   <extension
         point="de.jutzig.jabylon.rest.ui.configTab">
      <tab
            name="Git"
            tabID="git">
      </tab>
   </extension>

</plugin>
