<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="PropertiesPersistence">
   <service>
      <provide interface="de.jutzig.jabylon.resources.persistence.PropertyPersistenceService"/>
   </service>
   <implementation class="de.jutzig.jabylon.resources.persistence.internal.PropertiesPersistenceServiceImpl"/>
</scr:component>
