<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jabylon.rest.ui.configTab">
      <tab
            name="Jobs"
            precedence="110"
            tabID="jobs">
      </tab>
   </extension>
   <extension
         point="org.jabylon.rest.ui.config">
      <section
            name="Team Scheduling"
            objectClass="org.jabylon.properties.ProjectVersion"
            section="org.jabylon.scheduler.ui.internal.TeamSyncJobConfigPanel$TeamSyncJobConfigSection"
            tab="jobs">
      </section>
   </extension>

</plugin>
