<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="navbarItem" name="Navbar Item" schema="schema/navbarItem.exsd"/>
   <extension-point id="config" name="Configuration Extensions" schema="schema/config.exsd"/>
   <extension-point id="configTab" name="Configuration Tabs" schema="schema/configTab.exsd"/>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="jabylon">
      </httpcontext>
   </extension>
	<extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/"
            class="de.jutzig.jabylon.rest.ui.JabylonFilter"
            httpcontextId="jabylon">
         <init-param
               name="applicationClassName"
               value="de.jutzig.jabylon.rest.ui.wicket.JabylonApplication">
         </init-param>
         <init-param
               name="filterMappingUrlPattern"
               value="/*">
         </init-param>
         <init-param
               name="configuration"
               value="deployment">
         </init-param>
      </filter>
   </extension>
 <extension
       point="de.jutzig.jabylon.rest.ui.navbarItem">
    <item
          panel="de.jutzig.jabylon.rest.ui.navbar.SettingsNavBarPanel$SettingsPanelFactory"
          pullRight="true">
    </item>
    <item
          panel="de.jutzig.jabylon.rest.ui.navbar.LoginPanel$LoginPanelFactory"
          pullRight="true">
    </item>
    <item
          panel="de.jutzig.jabylon.rest.ui.navbar.HelpPanel$HelpPanelFactory">
    </item>
    <item
          panel="de.jutzig.jabylon.rest.ui.navbar.SearchPanel$SearchPanelFactory">
    </item>
 </extension>
 <extension
       point="de.jutzig.jabylon.rest.ui.configTab">
    <tab
          name="General"
          tabID="general">
    </tab>
    <tab
          name="Scanning"
          tabID="scanning">
    </tab>
    <tab
          name="Checks"
          tabID="checks">
    </tab>
    <tab
          name="Team"
          tabID="team">
    </tab>
    <tab
          name="Versions"
          tabID="versions">
    </tab>
    <tab
          name="Checks"
          tabID="checks">
    </tab>
 </extension>
 <extension
       point="de.jutzig.jabylon.rest.ui.config">
    <section
          name="General Workspace Settings"
          objectClass="de.jutzig.jabylon.properties.Workspace"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.GeneralWorkspaceConfig"
          tab="general">
       <permission
             requires="#Workspace.global.config">
       </permission>
    </section>
    <section
          name="General Project Settings"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.GeneralProjectConfig"
          tab="general">
       <permission
             requires="#Workspace.global.config">
       </permission>
    </section>
    <section
          name="Scanning"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.ScanningConfigSection$ScanningConfig"
          tab="scanning">
       <permission
             requires="#Workspace.global.config">
       </permission>
    </section>
    <section
          name="Versions"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.ProjectVersionsConfigSection$VersionsConfig"
          tab="versions">
       <permission
             requires="#Workspace.global.config">
       </permission>
    </section>
    <section
          name="Version Settings"
          objectClass="de.jutzig.jabylon.properties.ProjectVersion"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.VersionConfigSection$VersionConfig"
          tab="general">
       <permission
             requires="#Workspace.global.config">
       </permission>
    </section>
    <section
          name="Translation Checks"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.TranslationChecksConfigSection$TranslationChecksConfig"
          tab="checks">
    </section>
 </extension>
 <extension
       point="org.eclipse.equinox.http.registry.resources">
    <resource
          alias="/"
          base-name="WebContent">
    </resource>
 </extension>
</plugin>
