<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/static"
            base-name="/WebContent">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/dynamic/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory"
            httpcontextId="jsp">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="jsp">
         <resource-mapping
               path="/WebContent/jsp">
         </resource-mapping>
      </httpcontext>
   </extension>
</plugin>
