<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="navbarItem" name="Navbar Item" schema="schema/navbarItem.exsd"/>
   <extension-point id="config" name="Configuration Extensions" schema="schema/config.exsd"/>
   <extension-point id="configTab" name="Configuration Tabs" schema="schema/configTab.exsd"/>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="jabylon">
      </httpcontext>
   </extension>
    <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/"
            class="de.jutzig.jabylon.rest.ui.JabylonFilter"
            httpcontextId="jabylon">
         <init-param
               name="applicationClassName"
               value="de.jutzig.jabylon.rest.ui.wicket.JabylonApplication">
         </init-param>
         <init-param
               name="filterMappingUrlPattern"
               value="/*">
         </init-param>
         <init-param
               name="configuration"
               value="deployment">
         </init-param>
      </filter>
   </extension>
 <extension
       point="de.jutzig.jabylon.rest.ui.navbarItem">
    <item
          panel="de.jutzig.jabylon.rest.ui.navbar.SettingsNavBarPanel$SettingsPanelFactory"
          pullRight="true">
    </item>
    <item
          panel="de.jutzig.jabylon.rest.ui.navbar.LoginPanel$LoginPanelFactory"
          pullRight="true">
    </item>
    <item
          panel="de.jutzig.jabylon.rest.ui.navbar.HelpPanel$HelpPanelFactory">
    </item>
    <item
          panel="de.jutzig.jabylon.rest.ui.navbar.SearchPanel$SearchPanelFactory">
    </item>
 </extension>
 <extension
       point="de.jutzig.jabylon.rest.ui.configTab">
    <tab
          name="General"
          tabID="general">
    </tab>
    <tab
          name="Scanning"
          tabID="scanning">
    </tab>
    <tab
          name="Checks"
          tabID="checks">
    </tab>
    <tab
          name="Team"
          tabID="team">
    </tab>
    <tab
          name="Versions"
          tabID="versions">
    </tab>
    <tab
          name="Checks"
          tabID="checks">
    </tab>
    <tab
          name="Users"
          tabID="users">
    </tab>
    <tab
          name="Groups"
          tabID="groups">
    </tab>
    <tab
          name="Roles"
          tabID="roles">
    </tab>
    <tab
          name="Permissions"
          tabID="permissions">
    </tab>
    <tab
          name="Index"
          tabID="index">
    </tab>
 </extension>
 <extension
       point="de.jutzig.jabylon.rest.ui.config">
    <section
          name="General Workspace Settings"
          objectClass="de.jutzig.jabylon.properties.Workspace"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.GeneralWorkspaceConfig"
          tab="general">
    </section>
    <section
          name="General Project Settings"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.GeneralProjectConfig"
          tab="general">
    </section>
    <section
          name="Scanning"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.ScanningConfigSection$ScanningConfig"
          tab="scanning">
    </section>
    <section
          name="Versions"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.ProjectVersionsConfigSection$VersionsConfig"
          tab="versions">
    </section>
    <section
          name="Version Settings"
          objectClass="de.jutzig.jabylon.properties.ProjectVersion"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.VersionConfigSection$VersionConfig"
          tab="general">
    </section>
    <section
          name="Translation Checks"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.TranslationChecksConfigSection$TranslationChecksConfig"
          tab="checks">
    </section>
    <section
          name="User Management"
          objectClass="de.jutzig.jabylon.users.UserManagement"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.security.UsersConfigSection$UsersConfigSectionContributor"
          tab="users">
    </section>
    <section
          name="User"
          objectClass="de.jutzig.jabylon.users.User"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.security.UserConfigSection$UserConfigSectionContributor"
          tab="general">
    </section>
    <section
          name="User Roles"
          objectClass="de.jutzig.jabylon.users.User"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.security.UserRolesConfigSection$UserRolesConfigSectionContributor"
          tab="roles">
    </section>
    <section
          name="Role Management"
          objectClass="de.jutzig.jabylon.users.UserManagement"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.security.RolesConfigSection$RolesConfigSectionContributor"
          tab="roles">
    </section>
    <section
          name="Role Permissions"
          objectClass="de.jutzig.jabylon.users.Role"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.security.RolePermissionsConfigSection$RolePermissionsConfigSectionContributor"
          tab="permissions">
    </section>
    <section
          name="Permissions"
          objectClass="de.jutzig.jabylon.properties.Project"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.security.ProjectPermissionsConfigSection$ProjectPermissionsConfigSectionContributor"
          tab="permissions">
    </section>
    <section
          name="Index Settings"
          objectClass="de.jutzig.jabylon.properties.Workspace"
          section="de.jutzig.jabylon.rest.ui.wicket.config.sections.IndexingConfigSection$IndexingConfig"
          tab="index">
    </section>
 </extension>
 <extension
       point="org.eclipse.equinox.http.registry.resources">
    <resource
          alias="/"
          base-name="WebContent">
    </resource>
 </extension>
</plugin>
