DB {
    org.eclipse.equinox.security.auth.module.ExtensionLoginModule required
        extensionId="de.jutzig.jabylon.security.dbLoginModule";

};

LDAP {
    org.eclipse.equinox.security.auth.module.ExtensionLoginModule required
        extensionId="de.jutzig.jabylon.security.ldapLoginModule"
        ldap="localhost"
        ldap.port="10389"
        user.id="uid"
        user.mail="mail"
        root.dn="ou=users,ou=system"
        manager="uid=admin,ou=system"
        manager.password="admin";

};

UNIX {
    org.eclipse.equinox.security.auth.module.ExtensionLoginModule required
        extensionId="de.jutzig.jabylon.security.unixLoginModule";

};