<configuration>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%level  %marker %logger{20} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="de.jutzig.jabylon" level="debug">
	</logger>

	<logger name="de.jutzig.jabylon.cdo.server.logging.OSGiLogger" level="INFO">
	</logger>

	<logger name="org.mortbay.log" level="warn"></logger>
	

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>