<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level  %marker %logger{20} %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>jabylon.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>jabylon.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 1 days' worth of history -->
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date %marker [%thread] %logger{10} [%file : %line]%n[%level] %msg%n
            </pattern>
        </encoder>
    </appender>    

    <logger name="org.jabylon" level="debug">
    </logger>

    <logger name="org.jabylon.cdo.server.logging.OSGiLogger" level="INFO">
    </logger>

    <logger name="org.mortbay.log" level="warn"></logger>


    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
